# Virtual Environment
.venv/

# IDE and editor specific files
.vscode/
.idea/

# System-specific files
.DS_Store

# Notebook checkpoints
.ipynb_checkpoints/

# Test
.pytest_cache/

# Keys
.data_lake/keys.json

# Data
data_lake/

# Archive
.archive/